#app {
    height: 100%;
    background: none;
  }
  html,
  body {
    /* position: relative; */
    height: 100%;
    /* background: transparent; */
  }
  
  body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    /* background: white; */
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
  
    /* Center slide text vertically */
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    /* display: block; */
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  .swiper-pagination-testClass {
    /* position: relative; */
    /* background-color: blue; */
    /* border: 2px solid red; */
    /* top: 5px; Adjust the value as per your preference */
    /* background-color: transparent; */
   } 



   .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    /* border: 2px solid red; */
    color: transparent;
    background-color: transparent;
  }

  /* .img{
    /* position: absolute; Change to absolute position */
  /* z-index: 1; */
  /* }  */
  